.cardpage {
    display: grid;
    grid-template-rows: 45% 45%;
    grid-template-columns: 25% 25% 25%;
    gap: 20px;

    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.cards {
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0px 20px 10px 0px;
    cursor: pointer;
    background-color: rgba(0,0,0,.4);

    position: relative;
    width: 300px;
    height: 200px;
}

.cards:hover {
    background: none;
}

.cards h2 {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cards img {
    width: 300px;
    height: 200px;
    background: black;
    z-index: -1;
}

.maincard {
    width: 300px;
    height: 200px;
    margin-right: 20px;
    font-size: .8em;
}

.maincard h2{
    font-weight: 400;
}
.maincard h2:last-of-type{
    color: #0B8C3D;
    font-weight: bold;
    margin-bottom: 20px;
}

.maincard p {
    color: #8F8F8F;
}

.cardpage button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    margin: 20px;

    background: #0B8C3D;
    color: #fff;
    border: solid 2px #0B8C3D;
    border-radius: 2px;
    font-weight: bold;
    font-size: .6em;
    width: 150px;
    height: 35px;

}

.cardpage button img {
    padding-left: 15px;
}

@media (max-width: 1210px) {
    .cardpage {
        grid-template-columns: 45% 45%;
        grid-template-rows: auto;
        height: auto;
    }

    .cards {
        margin-top: 10px;
    }

    .cardpage button {
        position: static;
        margin-left: 40vw;
    }
}

@media (max-width: 690px) {
    .cardpage{
        grid-template-columns: 90%;
        grid-template-rows: auto;
        justify-items: center;
        height: auto;
    }
    
    .maincard {
        margin-top: 10px;
    }

    .cardpage button {
        position: static;
        margin-left: 30vw;
    }
}