.footer {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    min-height: 180px;    
    background-color: #1F1A17;
    position: relative;
    font-size: .7em;
}

.footer h2 {
    color: #FFF;
}

.footer p,a {
    color: #8f8f8f;
    text-decoration: none;
}

.logo-footer {
    padding: 20px 0 0 25px;
}

.logo-footer img {
    width: 130px;
    height: 70px;
    margin: 10px 0 0 100px;
}


.mapa {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;
}

.mapa h2 {
    width: 100%;
    margin-top: 10px;
}

.mapa ul {
    list-style-image: url('../images/svg/setalista.svg');
    column-count: 2;
    column-gap: 10px;
}

.mapa li {
    margin-left: 15px;
    padding: 5px 5px;
}

.midias {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.midias h2 {
    width: 100%;
    margin-top: 10px;
}

.footer-icons {
    display: flex;
    align-items: center;
    margin: 8px 0px;
}

.footer-icons p {
   margin-left: 5px;
}


.midias p {
    display: inline;
}

.footer-contacts {
    width: 100%;
    margin-right: 50%;
}

.footer-contacts h2 {
    margin-top: 10px;
}

.footer-contacts p {
    display: inline;
}

.endpage {
    background: black;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 0;

    height: 40px;
    width: 100%;
    font-size: .6em;
}

@media (max-width: 900px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .logo-footer {
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .logo-footer img {
        margin: 0;
        align-content: center;
    }

    .mapa {
        display: flex;
        margin: 0;
        justify-content: center;
    }

    .mapa h2 {
        display: flex;
        justify-content: center;
    }

    .midias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .midias h2 {
        display: flex;
        justify-content: center;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .endpage {
        position: static;
    }
}