.noticepage {
    width: 100%;
    height: 100vh;
    background: #E4E4E4;

    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.noticecard {
    background: #FFF;
    margin: 20px 20px 10px 0; 
    /* width: 100px;
    height: 100px; */
}

.noticecard img {
    width: 100px;
    height: 120px;
}

.noticecard h5 {
    position: relative;
    left: 10%;
    color: #1BD569;
}

.noticecard p {
    position: relative;
    left: 10%;
    font-weight: bold;
    font-size: .8em;
    width: 280px;
}

.notice-btn {
    position: relative;
    top: -20px;
    left: 15%;

    background: #0B8C3D;
    color: #fff;
    border: solid 2px #0B8C3D;
    border-radius: 2px;
    font-weight: bold;
    font-size: .6em;

    width: 150px;
    height: 35px;
}

.lastnews {
    display: grid;
    grid-template-columns: 45% 45%;

    align-items: center;
    justify-content: center;
}

.lastnews img {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
}

/* .lastnews h2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
} */

.nextevents {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-height: 800px;
}

.nextevents h2 {
    width: 100%;
    margin-bottom: 20px;
}

.eventcard {
    height: 350px;
    width: 700px;
}

.event-text {
    position: relative;
    bottom: 80px;
    left: 10px;
    width: 40vw;
    color: #FFF;
    font-weight: bold;
}

.event-text p {
    color: #0B8C3D;
    font-size: .6em;
    margin-top: 15px;
}

.btn-news {
    position: absolute;
    bottom: 20px;
    left: 25%;
    transform: translateX(-50%);

    background: #0B8C3D;
    color: #fff;
    border: solid 2px #0B8C3D;
    border-radius: 2px;
    font-weight: bold;
    font-size: .6em;

    width: 150px;
    height: 35px;
}

.btn-events {
    position: absolute;
    bottom: 10%;
    left: 75%;
    transform: translateX(-50%);

    background: #0B8C3D;
    color: #fff;
    border: solid 2px #0B8C3D;
    border-radius: 2px;
    font-weight: bold;
    font-size: .6em;

    width: 150px;
    height: 35px;
}

@media (max-width: 1210px) {
    .cardpage {
        grid-template-columns: 45% 45%;
        height: auto;
    }

    .cardpage button {
        position: static;
        margin-left: 40vw;
    }
}

@media (max-width: 690px) {
    .cardpage{
        grid-template-columns: 90%;
        justify-items: center;
        height: auto;
    }

    .cardpage button {
        position: static;
        margin-left: 30vw;
    }
}